@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// === VARIABLES ===
$rojo: rgb(218, 59, 59);
$rojo-hover: rgb(180, 30, 30);
$fondo-transparente: rgba(255, 255, 255, 0.9);
$gris-fondo: darkgray;
$fuente: 'Rubik', sans-serif;
$sombra: 0 4px 12px rgba(0, 0, 0, 0.1);
$sombra-img: 0 4px 12px rgba(0, 0, 0, 0.2);


