@media screen and (max-width: 600px) {
    .footer img {
      height: 30px;
    }
  }
  
  @media screen and (max-width: 572px) {
    .campus {
      font-size: 0.5rem;
    }
  }
  
  /*@media screen and (max-width: 560px) {
    .catedral {
      width: 400px;
      height: 100px;
    }*/
    @media screen and (max-width: 576px) {
      .banner-catedral {
        height: 80px;
      }
    }



      
  