@mixin boton($color, $borde) {
  background-color: $color;
  border: $borde;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: darken($color, 10%);
  }
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $rojo;
    padding: 1rem 2rem;
    flex-wrap: wrap; // Agregado para permitir que bajen los elementos si es necesario
    gap: 1rem; // Espacio entre elementos
    .logo {
      height: 80px;
    }
  
    .campus {
      color: white;
      @include boton(hsl(76, 51%, 51%), none); // amarillo
      text-decoration: none;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
          }
          i {
            margin-right: 5px;
          }
  }
  
  header {
    background-color: $rojo;
    width: 100%;
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
  
    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
  
        li a {
          text-decoration: none;
          font-size: 80%;
          color: #eef0f0;
          background-color: $rojo;
  
          &:hover {
            color: #f0f0ee !important;
          }
        }
      }
    }
  }
  
  .navbar {
    background-color: $rojo !important;
    z-index: 1001;
  }
  
  // === DROPDOWN ===
  .dropdown-menu {
    background-color: $rojo !important;
  
    .dropdown-item {
      color: white !important;
      z-index: 100;
  
      &:hover {
        background-color: $rojo-hover !important;
        color: white !important;
      }
    }
  }